<p> 97 Bowling Alley Lane, Boulder CO </p>
<html>
  <head>
    <title>Eight Pins</title>
  </head>
  <body>
    <h1>Hours</h1>
    <form action= '/' method= 'POST'
    <p>
      Your Idea
      </p>
      <input type= 'text' name= 'idea_title'/><br/>
      <textarea name= 'idea_description'></textarea>
      <input type= 'submit'/>
    </form>
  </body>
</html>